body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
  background-color: slategray;
}

main  {
  height: 1000px;
}

/* for veiwport adjusting background*/
.bg {
  background-image: url("./running-background-sml.svg.png");


  /* scaling */
  width: 100%;
  height: 100%;

  /* position */
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;

}


.titleImg {
  margin-top: 3%;
  width: 100%;
}

footer {
  position: relative;
  bottom: 10px;
  width: 100%;
  padding-left: 1%;  
  padding-top: 2%;

 }

 footer a {
  color: #2a1a36 !important;
 }

.testUser {
  text-align: center;
}

nav, .loginBox {
  background-color: #95d9ad !important;
  border: 1px solid;
  border-color: black;
}

nav, .newUserLink {
  text-align: center;
}

nav {
  margin-top: 20%;
}

.loginBox, .buttonDiv, input {
  margin-left: auto;
  margin-right: auto;

}

.loginBox {
  width: 35%;
  padding-top: 20px;
  margin-top: 20px;
}

.fyiSensitive {
  font-size: 12px;
}

.fyiSensitive:hover {
  font-size: 16px;
}

fieldset {
  border: 0px;
}

input {
  width: 100%;
}

.buttonDiv {
  width: 22%;
}

a {
  font-size: small;
  color: rgb(52, 53, 9);
}

a:visited {
  color: rgb(52, 53, 9);
}

a:hover {
font-weight: bold;
font-size: medium;
color: #dff4e8
}

button:hover {
  font-weight: bold;
  border-color: #dff4e8
}


.modal { /*https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/*/
  position: fixed;
  top:  0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll;
}

.modal:target{
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #95d9ad;
  text-align: left;
}


.closeModal {
  background: #63a482;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover  { 
  background: #dff4e8;
}

.modal h2{
  text-align: center;
  font-size: 24px;
}

.modal h3 {
    text-align: center;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
  
  /*increases font size on smaller screens*/

  nav {
    margin-top: 10%;
  }

  .loginBox {
    width: 100% !important;
    padding: 1px;
  }

  .modal > div {
    width: 90%;
  }

  .userHello {
      padding-left: 30%;
      font-size: 100%;         
      margin-bottom: -5% !important;        
     
    }

  .logoutLink {
  margin-right: -85% !important
  }

  .buttonDiv {
      margin-left: 35% !important;
    }

}

@media only screen and (min-device-width : 480px) and (max-device-width : 1024px)  {
  
  body {
    font-size: 100%;
  }

  nav {
    margin-top: 3%;
  }

  .loginBox {
    width: 50% !important;
  }

  .modal > div {
    width: 400px;
  }

  .userHello {
      padding-left: 5%;
      font-size: 100%;
      margin-bottom: -3% !important;        
    }
  
  .buttonDiv {
  margin-left: 35% !important;
  }

}


/* for veiwport adjusting background*/
.bg {
  /* rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* scaling */
  width: 100%;
  height: 100%;

  /* position */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

@media screen and (max-width: 750px) {
  .quizAppImg {
    max-width: 100%;
    max-height: 300px;
  }
}