https://www.w3schools.com/cssref/css_selectors.asp


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.modal { /*https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/*/
  position: fixed;
  top:  0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target{
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: lightslategray;
  text-align: left;
}


.close {
  background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover  { 
  background: lightslategray;
}

.modal h2{
  text-align: center;
  font-size: 24px;
}
